* {
    /* Свойства для сброса начальных стилей элементов */
        padding: 0;
        margin: 0;
        box-sizing: border-box;
}

body {
        min-width:600px;
        font-family: "Inter", sans-serif;
        color: #303030;
}

header {
    /* Стили для хедера */
        width: 1440px;
        height: 70px;
        background: #2965f1;
        padding-top: 23px;
        padding-bottom: 23px;
}

header span {
    /* Стили для текста в хедере IT-INCUBATOR */
        font-family: "Inter", sans-serif;
        font-weight: 700;
        font-size: 20px;
        color: #fff;
        text-transform: uppercase;
        display: flex;
        justify-content: left;


}

.main-section {
    /* Стили для первой секции */
        width: 1440px;
        min-height: 1024px;
        background: #fafaff;
        padding-top: 60px;
        padding-bottom: 60px;
}

.main-title {
    /* Стили для заголовка в первой секции */
        font-weight: 700;
        font-size: 48px;
        margin-bottom: 20px;
}

.main-text {
    /* Стили для текста в первой секции */
        font-weight: 400;
        font-size: 18px;
}

.main-image {
    /* Стили для изображения в первой секции */
        max-width: 715px;
        height: 508px;
}


.about-section {
    /* Стили для второй секции */
        width: 1440px;
        height: 883px;
        background: #fff;

}

select {
    /* Стили для выпадающего списка */
        width: 150px;
        height: 36px;
        background: url("../1-hw-with-auto-test-html-css-main/accets/img/ep_arrow-down.svg") no-repeat right 10px top 50%;
        appearance: none;
        font-weight: 400;
        font-size: 16px;
        padding-left: 10px;
        border: 1px solid rgba(48, 48, 48, 0.3);
        border-radius: 5px;
        background: rgba(255, 255, 255, 0);
}

.section-title {
    /* Стили для заголовков во второй секции */
        font-weight: 700;
        font-size: 24px;
        margin-bottom: 25px;
}

.frameworks-list {
    /* Стили для маркированного списка во второй секции */
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        gap: 0px;
        list-style-image: url("../1-hw-with-auto-test-html-css-main/accets/img/solar_map-arrow-up-bold.svg");
        padding-left: 20px;

}

.books-list {
    /* Стили для нумерованного списка во второй секции */
        font-weight: 400;
        font-size: 16px;
        padding-left: 20px;
}

.label {
    /* Стили для подписей чекбоксов */
        font-weight: 400;
        font-size: 16px;
        padding-left: 6px;

}

.text-field {
    /* Стили для односточного поля ввода текста */
        border: 1px solid rgba(48, 48, 48, 0.3);
        border-radius: 5px;
        width: 330px;
        height: 36px;
        background: rgba(255, 255, 255, 0);
        padding-left: 12px;
        margin-right: 8px;
}

.btn {
    /* Стили для кнопки */
        width: 125px;
        height: 36px;
        font-weight: 700;
        font-size: 14px;
        color: #fff;
        border-radius: 5px;
        background: #2965f1;
        margin-bottom: 60px;
        border: none;

}

.line {
    /* Стили для линии */
        border: 1px solid rgba(48, 48, 48, 0.3);
        width: 1440px;
        height: 0px;
        margin-bottom: 60px;
}

table {
    /* Стили для таблицы */
        font-weight: 400;
        border: 1px solid #95a1bb;
        border-collapse: collapse;
        width: 300px;
        height: 196px;

}

th, td {
    /* Стили для ячеек таблицы */
        padding-left: 15px;
        border: 1px solid #95a1bb;
        text-align: left;


}

footer {
    /* Стили для футера */
}

.footer-link {
    /* Стили для футера */
}